body {
    overflow: overlay;
    background-color: rgb(112, 216, 199);
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid transparent;
    background-color: rgba(0,0,0,0.3);
    background-clip: content-box;
}

header {
    background-color: #333;
    color: #fff;
}

header a {
    font-weight: bold;
}

nav {
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    color: #333;
    margin-top: 1em;
    width: 100%;
    overflow: overlay;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: rgb(96 9 116);
}

nav ul {
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
    justify-self: flex-end;
}

nav ul li {
    display: inline;
}

main {
    color: #333;
    display: inline;
}

aside {
    background-color: rgb(70, 136, 125);
    color: rgb(164 207 203);
}

section {
    background-color: rgb(157, 248, 233);
    color: #333;
}

footer {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    color: rgb(186, 241, 239);
    text-align: center;
}

#wrapper {
    position: relative;
    display: flex;
    height: 95vh;
    width: 100%;
    flex-direction: row;
}

#wrapper p {
    line-height: 1.5;
    margin-bottom: 20px;
}

#column-c .half-section p {
    margin-bottom: 5px;
}

